/* Le cadre principal. */
#dia
{
	/* On le restreint exactement à la taille d'une seule image. */
	width: 600px;
	height: 450px;
	/* Tout ce qui déborde est caché. Donc, une seule image est visible. */
	overflow: hidden;
	/* Ceci sert uniquement pour créer un containing block  */
	/* qui permet de positionner les flêches avec position: absolute  */
	position: relative;
}

/* Un div très très large */
/* Il contient toutes les images disposées horizontalement */
/* Il déborde de son parent */
#dia-images
{
	width: 10000px;
	/* Trés important: c'est ce qui permet de décaler ce div en JS avec "left: ...px;" */
	position: relative;
	/* Eviter les petits espaces entre les images */
	font-size: 0;
	/* initialisation à 0 (défaut "auto") : nécessaire sur Chrome */
	left: 0;
}

/* Commun aux deux flêches */
#dia-fleches span
{
	position: absolute;
	top: 200px;
	font-size: 30px;
	font-family: sans;
	background-color: rgba(0,0,0,.4);
	color: #bbb;
	padding: .1em;
	/* Le pointeur de la souris */
	cursor: pointer;
}
#dia-gauche
{
	left: 0;
}
#dia-droite
{
	right: 0;
}
#dia-fleches span:hover
{
	color: #fff;
}
